@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Supermarket Website!</h1>
    <img alt="shopping-bag" src="images/shopping-bag.png" width="400"/>
    <p style="padding-top:20px;">This project was coded by Rita DOUMET and Christian RECHDAN for our Asp.net course.<br>
        It was coded using Asp.net 6.0 on Visual Studio 2022, and SMSS for back-end.</p>
    <p>You can find the source code <a href="https://github.com/ritadoumet/Supermarket" target="_blank">here</a>.</p>
</div>